.right-sidebar {
  width: 270px;
  padding: 20px;
  position: fixed;
  top: 0;
  right: clamp(16px, 6vw, 40px);
  height: 100vh;
  background-color: black;

  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  color: white;
}

.user-profile {
  display: flex;
  gap: 20px;
  align-items: center;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  button {
    border: 0;
    background: transparent;
    cursor: pointer;
    color: #0095f6;
    font-weight: bold;
  }
}

.suggestions {
  h4 {
    margin-bottom: 12px;
  }

  .suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 16px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    button {
      border: 0;
      padding: 8px 12px;
      border-radius: 4px;
      background-color: #0095f6;
      font-size: 14px;
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .right-sidebar {
    display: none;
  }
}
